.precontent-gallery {
	background-image: url(../images/camera.png);
	background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
	position: relative;
	margin: 0;
}
