.precontent-training {
	background-image: url(../images/personal-training-img.jpg);
	background-position: center, top 30%;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
	position: relative;
	
	.text-container {
		display: flex;
		box-sizing: border-box;
		background: #fff;
		border-bottom: 5px solid #ccc;
		font-size: 30px;
		font-weight: bold;
		font-family: "Montserrat Alternates";
		text-align: center;
		width: 21.5ch;
		position: absolute;
		padding: 1.5rem;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%)
	}
}

.main-training {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	margin-top: 3rem;
}

form {
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-direction: column;
	padding-block: 1rem;
	width: 100%;
	height: 100%;
	transition: height .4s ease-in-out;
	background: transparent;

	input {
		padding: 10px 5px;
		width: 600px;
		border: none; 
		border-bottom: 2px solid #0c46b3;
		outline: none;
		text-indent: 10px;
		font-size: 1.2rem;
		z-index: 1;
		background: #f2f2f2;
	}

	input[type="date"],
	input[type="date"] {
		margin-bottom: 2rem;
	}
		
	.input-container {
		position: relative;
		height: auto;
		margin-bottom: 2rem;
		
		label {
			color: #0c46b3;
			position: absolute;
			left: 2%;
			bottom: 30%;
			z-index: 0;
			transition: transform .2s ease-in-out;

			span {
				color: red;
			}
		}
	}

	button {
		appearance: none;
		outline: none;
		border: none;
		width: 60%;
		padding-block: .5rem;
		color: #fff;
		background-color: #0c46b3;
		font-size: 1.5em;
		font-weight: bold;
		border-radius: 10px;
		margin: 0 auto;
		cursor: pointer;
	}
}

.form h2 {
	width: 100%;
	margin-top: .5rem;
	color: #0c46b3;
	transform: scale(0);
	transition: scale .9s ease-in-out;
}

.hours {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 1rem;
	margin-bottom: 2rem;
	
	section {
		display: inline-block;
		border-bottom: 3px solid #0c46b3;
		border-radius: 10px;
		color: #0c46b3;
		width: 20%;
		margin: 0 10%;
		padding-inline: .75rem;
		padding-block: 10px;
		box-shadow: 0px -5px 18px rgb(158, 158, 158);
		cursor: pointer;
		transition: all .15s ease-in-out;
		position: relative;
		font-weight: 500;

		svg {
			width: 1em;
			height: 1em;
			position: absolute;
			right: 10px;
			transform: scale(0);
			filter: invert(57%) sepia(59%) saturate(4267%) hue-rotate(89deg) brightness(104%) contrast(102%);
			transition: transform .15s ease-in-out;
		}
	}

	section.selected {
		border-color: #02ca13;
		color: #02ca13;

		svg {
			transform: scale(1)
		}
	}
}

h2 {
	color: #0c46b3;
	width: 100%;
	text-align: center;
	margin-bottom: 2rem;
}

@media screen and (max-width: 500px) {
	.precontent-training {
		height: 200px;
		background-position: center;
	}

	input {	
		width: 300px !important;
	}
}
